* {
  /* universal selector and performing css normalization */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* All the link  */
a {
  text-decoration: none;
  color: white;
}

/* setting image */
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* paragraph css */
p {
  color: black;
  font-size: 1.7rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: rgb(10, 113, 231);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid rgb(10, 113, 231);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: rgb(10, 113, 231);
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: rgb(10, 113, 231);
}

/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: rgb(10, 113, 231);
}

/* End Header section */

/* top Section */
#top {
  background-image: url(./ranjay.png);
  background-size: cover;
  background-position: top left;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#top::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#top .top {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#top h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#top h1:nth-child(1) {
  animation-delay: 1s;
}

#top h1:nth-child(2) {
  animation-delay: 2s;
}

#top h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

#top h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(10, 113, 231);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

#top h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#top h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#top h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End top Section */

/* Start Education  Section */
.education {
  flex-direction: column-reverse;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.education .education-content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

.education .education-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Start skill  Section */

.skills {
  font-family: "Poppins", sans-serif;
}

.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: rgb(10, 113, 231);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.skills {
  flex-direction: column-reverse;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .left a {
  display: inline-block;
  background: rgb(10, 113, 231);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid rgb(10, 113, 231);
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
  color: rgb(10, 113, 231);
  background: none;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(10, 113, 231);
}

.skills-content .right .html::before {
  width: 90%;
}

.skills-content .right .css::before {
  width: 90%;
}

.skills-content .right .js::before {
  width: 80%;
}

.skills-content .right .react::before {
  width: 70%;
}

.skills-content .right .nodejs::before {
  width: 60%;
}
.skills-content .right .node::before {
  width: 75%;
}
.skills-content .right .java::before {
  width: 70%;
}

/* About Section */
#about .about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .right {
  width: 100%;
}

#about .right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .right p {
  margin-bottom: 20px;
}

#about .right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

/* End About Section */

/* Footer */
.footer {
  background-color: #323539;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* Keyframes */

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: rgb(10, 113, 231);
    font-weight: 500;
  }
}
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }
  /* top */
  #top h1 {
    font-size: 7rem;
  }

  /* About */
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid rgb(10, 113, 231);
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
}
@media (max-width: 500px) {
  /* start Education section */
  #top {
    background-image: url("./ranjay.jpg");
    background-position: center;
  }
  .education .education-content {
    grid-template-columns: 90%;
  }
  .skills .skills-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .skills-content {
    display: flex;
    flex-direction: row;
  }
}
